th {
    background-color: lightsteelblue;
    width: 50px;
}

td {
    height: 40px;
    border-style: solid;
    border-width: thin;
    border-color: darkgray;
    text-align: right;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

caption {
    color: darkmagenta;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 900;
}

img {
    width: 250px;
    height: 250px;

    float: right;
    margin: 5px 15px;
}

.sundays {
    color: firebrick;
}

#bookmark {
    text-align: center;
}